In [1]:
#Perceptron-Based Classification Model
#Steps to Be Followed:
#1.Importing the required libraries
#2.Reading a CSV file
#3.Displaying the data
#4.Performing data preprocessing and splitting
#5.Fitting the model
#6.Predicting the model

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt 
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
%matplotlib inline

In [3]:
data = pd.read_csv("mnist_train.csv")

In [4]:
data.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Columns: 785 entries, label to 28x28
dtypes: int64(785)
memory usage: 359.3 MB

In [6]:
data.describe()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
count,60000.000000,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,...,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.0000,60000.0,60000.0,60000.0,60000.0
mean,4.453933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.200433,0.088867,0.045633,0.019283,0.015117,0.0020,0.0,0.0,0.0,0.0
std,2.889270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.042472,3.956189,2.839845,1.686770,1.678283,0.3466,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.000000,254.000000,62.0000,0.0,0.0,0.0,0.0

In [7]:
data.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
59995,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59999,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
data.sample()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
7418,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
data.shape

(60000, 785)

In [11]:
data.dropna(inplace=True)

In [12]:
if data.isnull().values.any():
    data = data.fillna(0)

In [13]:
df_x = data.iloc[:,1:]
df_y = data.iloc[:,0]

In [14]:
x_train,x_test,y_train,y_test = train_test_split(df_x,df_y,test_size=0.2, random_state=4)

In [15]:
per = Perceptron()

In [16]:
per.fit(x_train, y_train)

Perceptron()

In [17]:
pred = per.predict(x_test)

In [18]:
pred

array([2, 7, 6, ..., 6, 4, 2], dtype=int64)

In [19]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, pred)

In [20]:
print("Accuracy of the model: ", accuracy)

Accuracy of the model:  0.8745

In [21]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,pred)

In [22]:
cm

array([[1157,    1,    2,   10,    5,    2,    4,    2,    9,    5],
       [   0, 1268,    8,   15,    1,    9,    0,    7,   31,    3],
       [  16,    9, 1030,   50,   13,    6,   21,   30,   63,    7],
       [   9,    2,   28, 1126,    2,   12,    1,   14,   16,   15],
       [   2,   11,    5,   27,  963,    6,    9,    6,   12,   85],
       [  10,    6,    7,  149,   15,  773,   19,    7,   79,   23],
       [  21,    2,   10,    5,   15,   12, 1078,    2,   27,    0],
       [   4,    1,   12,    9,    8,    2,    1, 1151,    8,   84],
       [  12,   22,   10,  104,    3,   36,    5,    9,  925,   42],
       [   5,   17,    3,   27,   27,    9,    1,   35,   10, 1023]],
      dtype=int64)